{% extends 'base.html' %} {% block title %}Login{% endblock title %}
<!--Prettier-->
{% block content %}
<div class="min-h-screen p-6 bg-gray-100 flex items-center justify-center">
  <div class="container max-w-screen-sm mx-auto">
    <div class="text-center mb-12">
      <h1 class="font-bold text-4xl text-gray-900 mb-2">Login</h1>
      <div class="inline-block">
        <h2 class="font-semibold text-xl text-navy-800 relative pb-2">
          WELCOME BACK TO JOGJARASA
          <span class="absolute bottom-0 left-0 w-full h-1 bg-navy-500"></span>
        </h2>
      </div>
    </div>

    <div class="bg-white rounded-lg shadow-xl p-8 mb-8">
      <form method="POST" action="">
        {% csrf_token %}
        <div class="space-y-6">
          <div>
            <label
              for="{{ form.username.id_for_label }}"
              class="block text-sm font-medium text-gray-700"
            >
              Email
            </label>
            {{ form.username }} {% if form.username.errors %}
            <p class="mt-1 text-sm text-red-600">
              {{ form.username.errors.0 }}
            </p>
            {% endif %}
          </div>
          <div>
            <label
              for="{{ form.password.id_for_label }}"
              class="block text-sm font-medium text-gray-700"
            >
              Password
            </label>
            {{ form.password }} {% if form.password.errors %}
            <p class="mt-1 text-sm text-red-600">
              {{ form.password.errors.0 }}
            </p>
            {% endif %}
          </div>
          {% if form.non_field_errors %}
          <div
            class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 rounded-md"
          >
            {{ form.non_field_errors.0 }}
          </div>
          {% endif %}
          <div class="flex justify-between items-center">
            <p class="text-gray-600 text-sm">
              Don't have an account yet?
              <a
                href="{% url 'main:register' %}"
                class="text-navy-600 hover:text-navy-800 font-semibold"
              >
                Register Now
              </a>
            </p>
            <button type="submit" class="btn-primary">Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
