<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurants</title>
  </head>
  <body>
    <h1>List of Restaurants</h1>

    <div class="restaurant-grid">
      {% for restaurant in restaurants %}
      <div class="restaurant-card">
        <h2>{{ restaurant.name }}</h2>
        <p><strong>Longitude:</strong> {{ restaurant.longitude }}</p>
        <p><strong>Latitude:</strong> {{ restaurant.latitude }}</p>
        <p><strong>Description:</strong> {{ restaurant.description }}</p>
      </div>
      {% empty %}
      <p>No restaurants found.</p>
      {% endfor %}
    </div>
  </body>
</html>
